<template>
          <div class="categories">
              <ul>
                <li @click="getCategoriesProduct(category)" v-for="category in $store.state.categories" :class="{ 'active disabled' : category == $store.state.selCategory }" :key="category.id" >{{category.name}}</li>
              </ul>
          </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'CategoriesProducts',
    methods: {
      ...mapActions(["getCategoriesProduct"]),
    },
 
}

</script>

<style>
  .disabled {
    pointer-events: none;

  }
</style>