<template>
    <div class="content">
      <div class="container">
        <div class="content__top">
          <categories-products />
          <product-sort/>
        </div>
        <h2 class="content__title">{{ $store.state.selCategory.name }} пиццы</h2>
            <products-list />
            <template v-if="!isActionSucces">
               <button v-if="!isActiveBtnGetMore" @click="getGetMoreProduct" class="button-leadermore"> Еще</button>
            </template>
      </div>
    </div>
</template>

<script>
import ProductsList from './ProductsList.vue'
import CategoriesProducts from '@/components/CategoriesProducts.vue'
import ProductSort from './ProductSort.vue'
import { mapActions, mapGetters } from 'vuex'
export default {
    name: 'ContentProduct',
    components: {
        ProductsList,
        CategoriesProducts,
        ProductSort
    },
    computed: {
      ...mapGetters(["isActionSucces", "isActiveBtnGetMore"])
    },
    methods: {
      ...mapActions(["getGetMoreProduct"]),
    }
    
}
</script>
<!-- https://62f0d64a57311485d137d1ad.mockapi.io/items -->
<style>
  .button-leadermore {
    margin: 0 auto;
    display: block;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:aliceblue;
    background-color:#fe5f1e;
    border: 0;
    font-size: 28px;
    cursor: pointer;
    border-radius: 30px;
  }
</style>