<template>
    <div class="block-text">
        <h1 class="title">Ошибка 404 <br> Такой страницы не существует 😟</h1>
    </div>

</template>
<script>
export default {
    name: "NotFound"
}

</script>

<style scoped>
    .block-text {
        padding: 100px;
        padding-bottom: 100px;
        text-align: center;
    }

</style>