<template>
  <div class="pizza-block">
    <router-link :to="{ name: 'single-product', params: { id: product.id } }">
        <img class="pizza-block__image" :src="product.imageUrl" alt="Pizza" />
        <h4 class="pizza-block__title">{{ product.title }}</h4>
       </router-link>
    <div class="pizza-block__selector">
      <ul>
        <li
          v-for="(item, i) in product.types"
          :key="i"
          @click="choiseType(product,item)"
          :class="[item == product.type ? 'active' : '']"
        >
          {{ item ? "тонкое" : "традиционное" }}
        </li>
      </ul>
      <ul>
        <li
          v-for="(item, i) in product.sizes"
          @click="choiseSizes(product, item)"
          :key="i"
          :class="[item == product.size ? 'active' : '']"
        >
          {{ item }} см.
        </li>
      </ul>
    </div>
    <div class="pizza-block__bottom" @click="addToCart(product)">
      <div class="pizza-block__price">от {{ product.price }} ₽</div>
      <div class="button button--outline button--add">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z"
            fill="white"
          />
        </svg>
        <span>Добавить </span>
        <i>{{ calcElementsCart(product.id) }}</i>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "ProductPizza",
  props: {
    product: {
      type: Object,
    },
  },
  // data() {
  //   return {
  //     productClone: this.product,
  //   };
  // },
  computed: {
    ...mapGetters(["calcElementsCart"]),
  },

  methods: {
    ...mapActions(["addToCart", "getChoiseProduct", "getTypeProduct"]),
    activeClasses(size, sizes) {
      if (size == sizes) {
        return "active";
      }
    },
    choiseType(product, type) {
       const argument = { product, type };
      this.getTypeProduct(argument);
    },
    choiseSizes(product, size) {
      console.log(size);
      const argument = { product, size };
      this.getChoiseProduct(argument);
    },
  },
};
</script>

<style></style>

<!-- this.$store.dispatch({ type: 'authenticate', token: response.body.access_token, expiration: response.body.expires_in + Date.now() })
              }) -->
