<template>
<div class="content">
    <div class="content-left">
         <div class="image-wrap pizza-block-img ">
        </div>
 
    </div>
    <div class="content-rigth">
           <h1></h1>
  
            <div class="pizza-block__selector">
                <ul>
                    <li ></li>
                </ul>
                <ul>
                    <li></li>
                </ul>
        </div>
         <div class="pizza-block__bottom" >
      <div class="pizza-block__price"> </div>
      <div class="button button--outline button--add">
 
        <span></span>
   
      </div>
    </div>
    </div>
</div>

   
</template>
<script>
export default {

}
</script>

<style scoped>

    .pizza-block__title {
    background-color: #eee;
    width: 100%;
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
    animation: pulsBg 1s infinite;
}
.pizza-block-img {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    background-color: #eee;
     animation: pulsBg 1s infinite;
}
.pizza-block__list li{
    background-color: rgb(222, 221, 221);
    width: 100%;
    border-radius: 5px;
    height: 20px;
    margin-right: 3px;
     animation: pulsBg 1s infinite;
}
.pizza-block__price {
    background-color: #eee;
    width: 30%;
    border-radius: 5px;
    height: 20px;
    margin-right: 3px;
     animation: pulsBg 1s infinite;
}
.button--outline {
    border: none;
    background-color: #eee;
     animation: pulsBg 1s infinite;
}
.button--outline:hover {
     background-color: #eee;
      animation: pulsBg 1s infinite;
}
.pizza-block__selector {
    margin-top: 250px;
    align-items: center;
    width: 100%;
   width: 300px;
}
.content-rigth {
    padding-left: 50px;
}
@keyframes pulsBg {
    0%{
        background-color: #eee;
    }
    50% {
        background-color: #eaeaea;
    }
    100% {
        background-color: #eee;
    }
}
</style>