<template>
     <div class="content__items">
            <template v-if="!$store.state.isActionSucces">
                <product-pizza v-for="product in products" :key="product.id" :product="product"  />
            </template>
            <template v-else>
                   <product-skeleton  v-for="i in 4" :key="i" />
            </template>
         
     </div>
</template>

<script>
import ProductPizza from '@/components/ProductPizza.vue'
import ProductSkeleton from './ProductSkeleton.vue'
import {  mapActions, mapGetters } from 'vuex'
export default {
    name: 'ProductsList',
    components: {
        ProductPizza,
        ProductSkeleton
    },
    computed: {
        ...mapGetters(["products"]),
    },
    mounted() {
        this.getProducts()
    },
    methods: {
        ...mapActions(["getProducts"])
    }
}
</script>

<style>

</style>