<template>
        <div class="pizza-block">
            <div class="pizza-block-img"> </div>
            <h4 class="pizza-block__title"></h4>
            <div class="pizza-block__selector">
              <ul class="pizza-block__list">
                <li ></li>
                <li></li>
              </ul>
              <ul class="pizza-block__list">
                <li ></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="pizza-block__bottom">
              <div class="pizza-block__price"></div>
              <div class="button button--outline  ">
             
                
              </div>
            </div>
          </div>
</template>

<script>

export default {
    name: 'ProductSkeleton',

}
</script>

<style scoped>
.pizza-block__title {
    background-color: #eee;
    width: 100%;
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
    animation: pulsBg 1s infinite;
}
.pizza-block-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #eee;
     animation: pulsBg 1s infinite;
}
.pizza-block__list li{
    background-color: rgb(222, 221, 221);
    width: 100%;
    border-radius: 5px;
    height: 20px;
    margin-right: 3px;
     animation: pulsBg 1s infinite;
}
.pizza-block__price {
    background-color: #eee;
    width: 30%;
    border-radius: 5px;
    height: 20px;
    margin-right: 3px;
     animation: pulsBg 1s infinite;
}
.button--outline {
    border: none;
    background-color: #eee;
     animation: pulsBg 1s infinite;
}
.button--outline:hover {
     background-color: #eee;
      animation: pulsBg 1s infinite;
}
@keyframes pulsBg {
    0%{
        background-color: #eee;
    }
    50% {
        background-color: #eaeaea;
    }
    100% {
        background-color: #eee;
    }
}
</style>