<template>
  <template v-if="isActionSucces">
    <product-single-skeleton />
  </template>
  <template v-else>
    <div class="content" v-if="isValidityId">
      <div class="content-left">
        <div class="image-wrap">
          <img :src="product.imageUrl" alt="" />
        </div>
      </div>
      <div class="content-rigth">
        <h1>{{ product.title }}</h1>
        {{ product }}
        <div class="pizza-block__selector">
          <ul>
            <li
              v-for="(item, i) in product.types"
              :key="i"
              @click="choiseType(product, item)"
              :class="[item == product.type ? 'active' : '']"
            >
              {{ item ? "тонкое" : "традиционное" }}
            </li>
          </ul>
          <ul>
            <li
              v-for="(item, i) in product.sizes"
              @click="choiseSizes(product, item)"
              :key="i"
              :class="[item == product.size ? 'active' : '']"
            >
              {{ item }} см.
            </li>
          </ul>
        </div>
        <div class="pizza-block__bottom" @click="addToCart(product)">
          <div class="pizza-block__price">от {{ product.price }} ₽</div>
          <div class="button button--outline button--add">
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z"
                fill="white"
              />
            </svg>
            <span>Добавить </span>
            <i>{{ calcElementsCart(product.id) }}</i>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <not-found  />
    </div>
  </template>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import NotFound from "./NotFound.vue";
import ProductSingleSkeleton from "./ProductSingleSkeleton.vue";

export default {
  name: "ProductSingle",
  components: {
    NotFound,
    ProductSingleSkeleton,
  },
  data() {
    return {
      id: this.$route.params.id,
    };
  },
  computed: {
    ...mapGetters([
      "product",
      "calcElementsCart",
      "isValidityId",
      "isActionSucces",
    ]),
  },

  mounted() {
    // console.log(this.id)
    this.getSingleProduct(this.id);
  },
  methods: {
    ...mapActions([
      "getSingleProduct",
      "addToCart",
      "getChoiseProduct",
      "getTypeProduct",
    ]),
    choiseType(product, type) {
      const argument = { product, type };
      this.getTypeProduct(argument);
    },
    choiseSizes(product, size) {
      console.log(size);
      const argument = { product, size };
      this.getChoiseProduct(argument);
    },
  },
};
</script>

<style scoped lang="scss">
.content {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  p {
    display: block;
  }
}
.image-wrap {
}
.pizza-block__selector {
  max-width: 300px;
  text-align: center;
}
</style>
