<template>
  <div class="wrapper" >
    <header-block />
     <router-view></router-view>
  </div>
</template>

<script>

import HeaderBlock from './components/Header.vue'


export default {
  name: 'App',
  components: {
    HeaderBlock,

  },

  
}
</script>

<style src="@/assets/css/app.css"></style>



